#current-animal-wrapper{
    position:absolute;
    width: 100% !important;
    left:0;
    height:100%;
    background-image: linear-gradient(to bottom right,darkslategray, whitesmoke);
}
#animal-preview{
    position: absolute;
    bottom:20px;
    left:230px;
}
#animal-preview img{
    margin-right:20px;
    border:1px solid black;
    border-radius: 5px;
}

#animal-image{
    margin-right:20px;
    border:1px solid black;
    border-radius: 5px;
}

.defaultTextBox {
    padding: 0;
    height: 30px;
    position: relative;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    border-radius: 5px !important;
}
